# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS / editors
.DS_Store
.vscode/
.idea/
